<div class="row">
  <div class="col-md-7">
    <table class="table bg-light">
      <thead>
        <tr>
          <th *ngFor="let head of titulosSolicitudes" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of itemsSolicitud" class="table-row" [class.selected-row]="el.selected">
          <th scope="row">
            <input type="checkbox"
                   [checked]="el.selected"
                   (change)="selectHandlerSolicitud(el.id_solicitud, el)">
          </th>
          <th>{{el.id_solicitud}}</th>
          <td>{{el.f_servicio | date: 'dd/MM/yy'}}</td>
          <td>{{el.h_servicio}}</td>
        </tr>
      </tbody>
    </table>
  </div>




  <div class="col-md-5">
    <table class="table bg-light">
      <thead>
        <tr>
          <th *ngFor="let head of titulosPaseadores" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of itemsPaseador" class="table-row" [class.selected-row]="el.selected">
          <th scope="row">
            <input type="checkbox"
                   [checked]="el.selected"
                   (change)="selectHandlerPaseador(el.id_paseador, el)">
          </th>
          <th>{{el.id_paseador}}</th>
          <td>{{el.nombre +' '+ el.ap +' '+ el.am}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn" (click)="makeMatch()">Asignar</button>
</div>