<div class="row">
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Solicitud</th>
          <th scope="col">Fecha y hora</th>
          <th scope="col">Tipo de servicio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="checkbox"></th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>




  <div class="col-md-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="checkbox"></th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>Larry</td>
          <td>the Bird</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn">Asignar</button>
</div>