<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Rango inicial</label>
      <input
        type="date"
        class="form-control"
        (change)="setFecha1($event.target)"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Rango final</label>
      <div class="input-group mb-3">
        <input
          type="date"
          class="form-control"
          (change)="setFecha2($event.target)"
          [min]="fecha1"
        />
        <div class="input-group-append">
          <button class="btn" (click)="consulta()">
            Consultar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"># Recibo</th>
          <th scope="col"># Paseador</th>
          <th scope="col">Fecha Generado</th>
          <th scope="col">Monto</th>
          <th scope="col">Factura</th>
          <th scope="col">Fecha pago</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngIf="recibos">
        <tr *ngFor="let recibo of recibos">
          <!-- <div *ngIf="recibo.status === 3"> -->
          <td *ngIf="recibo.status === 3">{{ recibo.id_recibo }}</td>
          <td *ngIf="recibo.status === 3">{{ recibo.id_paseador }}</td>
          <td *ngIf="recibo.status === 3">
            {{ recibo.f_generacion | date: "dd/MM/yyyy" }}
          </td>
          <td *ngIf="recibo.status === 3">
            {{ "$ " + recibo.monto + ".00 MXN" }}
          </td>
          <td *ngIf="recibo.status === 3">
            {{ recibo.factura }}
          </td>
          <td *ngIf="recibo.status === 3">
            {{ recibo.f_pago | date: "dd/MM/yyyy" }}
          </td>

          <td *ngIf="recibo.status === 3">{{ recibo.status }}</td>
          <!-- </div> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
