<div class="row">

  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"># Solicitud</th>
          <th scope="col"># Paseador</th>
          <th scope="col">Fecha y hora</th>
          <th scope="col">Servicio</th>
          <th scope="col">Buddies</th>
          <th scope="col">Correo cliente</th>
          <th scope="col">C.P.</th>
          <th scope="col">Monto Cobrado</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of realizados">
          <th scope="row">{{item.id_solicitud}}</th>
          <td>{{item.id_paseo}}</td>
          <td>{{item.inicio | date: 'dd/MM/yyyy, h:mm a'}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{item.status_paseo}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row">

  <div class="col-md-12">

  <ul class="list-group">
    <li class="list-group-item active">Total</li>
    <li class="list-group-item"><b>Buddies</b> 15</li>
    <li class="list-group-item"><b>Monto</b> $ 700.00 MXN</li>
    
  </ul>

  </div>

</div>