<div class="row">
  <div class="col-12">
    <form class="row" [formGroup]="formato" (ngSubmit)="altaDirectorio()">
      <div class="col-12 col-md-6">
        <div class="form-group row">
          <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
          <div class="col-sm-8">
            <input formControlName="nombre" type="text" class="form-control" id="nombre">
          </div>
        </div>
        <div class="form-group row">
          <label for="categoria" class="col-sm-4 col-form-label">Categoría</label>
          <div class="col-sm-8">
            <input formControlName="categoria" type="text" class="form-control" id="categoria">
          </div>
        </div>
        <div class="form-group row">
          <label for="direccion" class="col-sm-4 col-form-label">Dirección</label>
          <div class="col-sm-8">
            <input formControlName="direccion" type="text" class="form-control" id="direccion">
          </div>
        </div>
        <div class="form-group row">
          <label for="lat" class="col-sm-4 col-form-label">Coordenadas</label>
          <div class="col-sm-4">
            <input formControlName="lat" type="number" class="form-control" id="lat" placeholder="Lat">
          </div>
          <div class="col-sm-4">
              <input formControlName="lng" type="number" class="form-control" id="lng" placeholder="Lon">
            </div>
        </div>
        <div class="form-group row">
          <label for="img-paseador" class="col-sm-3 col-form-label">Imagen Paseador</label>
          <div class="col-sm-9" style="vertical-align: middle; text-align: center;">
            <input type="file" (change)="onFileChanged($event)" id="img-paseador">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group row">
          <label for="tel" class="col-sm-4 col-form-label">Teléfono</label>
          <div class="col-sm-8">
            <input formControlName="tel" type="number" class="form-control" id="tel" placeholder="(10 dígitos)">
          </div>
        </div>
        <div class="form-group row">
          <label for="web" class="col-sm-4 col-form-label">Website</label>
          <div class="col-sm-8">
            <input type="url" formControlName="web" class="form-control" id="web">
          </div>
        </div>
        <div class="form-group row">
          <label for="fb" class="col-sm-4 col-form-label">Facebook</label>
          <div class="col-sm-8">
            <input type="url" formControlName="fb" class="form-control" id="fb">
          </div>
        </div>
        <div class="form-group row">
          <label for="insta" class="col-sm-4 col-form-label">Instagram</label>
          <div class="col-sm-8">
            <input type="url" formControlName="instagram" class="form-control" id="insta">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Titular Comercio</label>
          <div class="col-sm-8">
            <input formControlName="t_nombre" type="text" class="form-control" id="nombreTitular" placeholder="Nombre">
            <input formControlName="t_tel" type="number" class="form-control" id="telTitular" placeholder="Teléfono (10 dígitos)">
            <input formControlName="t_email" type="email" class="form-control" id="emailTitular" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="col-12 mb-5 mt-3 text-center">
        <button class="btn m-3" type="submit">ACEPTAR</button>
        <button class="btn m-3">CANCELAR</button>
      </div>
    </form>
  </div>
</div>