<div class="container bg-light p-3">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of membresias" class="table-row">
            <th scope="row">
              <button
                class="btn btn-primary btn-sm"
                (click)="toEditar(el, el.id_membresia)"
              >
                Editar
              </button>
            </th>
            <td>{{ el.id_membresia }}</td>
            <td>{{ el.f_alta | date: "dd/MM/yyyy" }}</td>
            <td>{{ el.f_corte | date: "dd/MM/yyyy" }}</td>
            <td>{{ el.tipo_servicio }}</td>
            <td>{{ el.id_buddy }}</td>
            <td>
              {{ el.h_paseo1 }}
              <b>{{ el.h_paseo2 }}</b>
            </td>
            <td>{{ el.monto }}</td>
            <td>{{ el.status_pago }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item active">Total</li>
      <li class="list-group-item">
        <b>Buddies</b>{{ " " + membresias.length }}
      </li>
      <li class="list-group-item"><b>Monto</b> $ 700.00 MXN</li>
    </ul>
  </div>
</div>
