<div class="row">

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Correo cliente" aria-label="Recipient's username"
      aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Consultar</button>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Buddy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="checkbox"></th>
          <td>1</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>2</td>
          <td>Mark</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="checkbox"></th>
          <td>1</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>2</td>
          <td>Mark</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Historial</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="checkbox"></th>
          <td>1</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th><input type="checkbox"></th>
          <td>2</td>
          <td>Mark</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>