<div class="row">
  <div class="input-group mb-3">
    <input
      type="number"
      class="form-control"
      placeholder="ID Paseador"
      aria-label="ID Paseador"
      (keyup)="setId($event)"
    />
    <div class="input-group-append">
      <button
        (click)="getPaseos()"
        class="btn btn-outline-secondary"
        type="button"
      >
        Consultar
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="paseador">
    <div class="row">
      <div class="col-4"><b>Nombre Paseador:</b></div>
      <div class="col-8">
        {{ paseador.nombre }} {{ paseador.ap }} {{ paseador.am }}
      </div>
    </div>
    <div class="row">
      <div class="col-4"><b>Correo Paseador:</b></div>
      <div class="col-8">
        {{ paseador.email }}
      </div>
    </div>
    <div class="row">
      <div class="col-4"><b>TOTAL:</b></div>
      <div class="col-8">
        <b>{{ "$ " + monto + ".00 MXN" || "$ 0.00 MXN" }}</b>
      </div>
    </div>
  </div>
  <div class="p-1"></div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID Servicio</th>
          <th scope="col">Fecha y hora</th>
          <th scope="col">Servicio</th>
          <th scope="col"># de Buddies</th>
          <th scope="col">Status</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody *ngIf="paseos">
        <tr *ngFor="let paseo of paseos" [class.selected-row]="paseo.selected">
          <th><input type="checkbox" (change)="addPaseo($event, paseo)" /></th>
          <td>{{ paseo.idServicio }}</td>
          <td>{{ paseo.agendado | date: "dd/MM/yyyy, hh:mm a" }}</td>
          <td>{{ paseo.tipo === "A" ? "Agendado" : "Membresía" }}</td>
          <td>{{ paseo.buddies }}</td>
          <td>
            {{ paseo.statusPaseo === 2 ? "Finalizado" : "Cancelado" }}
          </td>
          <td>$ 40.00 MXN</td>
        </tr>
      </tbody>
    </table>
    <div class="col-12 text-center mb-3">
      <button
        class="btn"
        [disabled]="!habilitarServicio"
        (click)="postRecibo()"
      >
        Generar Recibo
      </button>
    </div>
  </div>
</div>
