<div class="row">

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="# Recibo">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Consultar</button>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"># Recibo</th>
          <th scope="col"># Paseador</th>
          <th scope="col">Fecha Generado</th>
          <th scope="col">Monto</th>
          <th scope="col">Factura</th>
          <th scope="col">Fecha pago</th>
          <th scope="col">Status (Revisión Sin Factura y Con Factura)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>5</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>23</td>
          <td>22/02/2019</td>
          <td>Sin factura</td>
          <th><button class="btn">Pagar</button></th>
        </tr>
        <tr>
          <td>2</td>
          <td>6</td>
          <td>Mark</td>
          <td>Otto</td>
          <td><input type="text" class="form-control" placeholder="# Factura"></td>
          <td><input type="date" class="form-control" placeholder="Fecha"></td>
          <td>Sin factura</td>
          <th><button class="btn">Pagar</button></th>
        </tr>
      </tbody>
    </table>
  </div>

</div>